{{#each this}}
 <section class="c-listingtile">
    <div class="c-listingtile__row">
      <a href="{{url}}" itemprop="url" class="c-listingtile__link"
         data-fn-click="true"
         data-da-satelliteTrackEvent="search-click-tracking"
         data-da-link_link-Page-Name=""
         data-da-link_link-Category=""
         data-da-link_link-Section="news"
         data-da-link_link-Text="news"
         data-da-link_link-Interaction-Method=""
         data-da-link_content-type="news"
         data-da-link_content-title="{{title}}"
         data-da-link_content-id=""
         data-da-link_content-AdditionalInformation=""
         data-da-link_link-header="news"
         data-da-link_event="content-clicked"
         data-da-search_selected-position="{{searchIndex}}">
        <div class="c-listingtile__col">
          {{#if eventDateFormat}}
          <div class="c-listingtile__date" data-dateformat="{{eventDateFormat}}"></div>
          {{/if}}
          {{#if title}}
            <p class="c-listingtile__title">{{title}}</p>
          {{/if}}
          {{#if subTitle}}
            <p class="c-listingtile__subTitle">{{subTitle}}</p>
          {{/if}}
          {{#if eventDateRange}}
          <ul class="c-listingtile__event">
            {{#if eventDateFormat}}
              <li class="c-listingtile__eventdata">{{eventDateRange}}</li>
            {{/if}}
            {{#if venue}}
              <li class="c-listingtile__eventdata">{{venue}}</li>
            {{/if}}
          </ul>
          {{/if}}
          {{#if description}}
            <div class="c-listingtile__description">{{description}}</div>
          {{/if}}
        </div>
      </a>
    </div>
  </section>
{{/each}}
