{{#each this}}
<div class="c-listingTile__list">
  <a href="{{url}}" class="c-listingTile__link x-sub-hover"
     data-fn-click="true"
     data-da-satelliteTrackEvent="search-click-tracking"
     data-da-link_link-Page-Name=""
     data-da-link_link-Category=""
     data-da-link_link-Section="product-tile"
     data-da-link_link-Text="{{title}}"
     data-da-link_link-Interaction-Method=""
     data-da-link_product-name="{{title}}"
     data-da-link_product-category="{{category}}"
     data-da-link_product-id="{{id}}"
     data-da-link_event="product-click"
     data-da-link_link-Header="product"
     data-da-search_selected-position="{{searchIndex}}">
    <div class="c-listingTile__productWrapper">
      <div class="c-listingTile__productContent col-xs-8">
        <div class="c-listingTile__productContentWrapper">
          {{#if title}}
          <span class="c-listingTile__productTitle">{{title}}</span>
          {{/if}}
          {{#if category}}
          <span class="c-listingTile__productCategory">{{category}}</span>
          {{/if}}
        </div>
      </div>
      <div class="c-listingTile__productAsset">
        <img src="/etc/designs/roche/customerportal/clientlibs/roche.global.publish/images/blank.png" data-src="{{image}}"
          alt="{{altText}}" class="js-dynamic-image" data-template="productTile" data-processed="false"
        />
      </div>
    </div>
  </a>
</div>
{{/each}}
