<!-- Modal -->
<div class="modal x-modal fade js-redirect-popup" role="dialog" data-target="" aria-labelledby="{{title}}">
  <div class="modal-dialog" role="document">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            Close
        </button>
        <h2 class="modal-title">{{title}}</h4>
      </div>
      <div class="modal-body">
        {{#if subTitle}}
          <h3 class="modal-subtitle">{{subTitle}}</h3>
        {{/if}}
        <p class="x-text modal-desc">{{bodyText}}</p>
        <button type="button" class="x-submit-button js-redirect-ok" data-da-satelliteTrackEvent="generic-link-tracking"
               data-da-link_link-page-name="" 
               data-da-link_link-category="" 
               data-da-link_link-section="global-top-navigation"
               data-da-link_link-header="hamburger-menu-overlay"
               data-da-link_link-text="${'rdoe_redirctpopup.agree' @ i18n}">{{ctaLabel}}</button>
      </div>
    </div>
  </div>
</div>