---
{
"layout"     : "fw-index.hbs",
"categories" : "admin-pages",
"lead"       : "Welcome to our website!",
"title"      : "Ux Library Components Page"
}
---
<div class="roche-logo-div"><img class="roche-logo" src="/etc/designs/roche/customerportal/clientlibs/roche-global-lib/images/blueRoche.svg" alt="Roche logo"</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1>UX Components</h1>

        <p>Roche UX library offers several components. Components are the building blocks to create web pages and
            experiences. Components can be a simple combination of the text & image/video or a complex functionality
            like 'Find my product' tool.</p>
    </div>
</div>

<ul class="row components">
    {{#each (sortPages components "pages[0].data.fsdId") }}
        {{#isnt this.pages.0.data.hiddenUX false}}
            <li>
                <!--a href="/components/{{component}}Sample.html">{{this.pages.0.data.fsdId}}: {{this.pages.0.data.title}}</a-->
                <a target="_blank" href="{{component}}.ux-preview.html">{{this.pages.0.data.fsdId}}: {{this.pages.0.data.title}}</a>
            </li>
        {{/isnt}}
        <!--li class="col-xs-6 col-md-4 col-lg-3 component-item{{#if this.pages.0.data.hiddenUX}} dev-component{{/if}}" style="display:none;">
            {{!--> imageText
            id          = (uuid)
            type        = "imageText-grid"
            color       = "imageText-dark"
            hasVideo    = false
            imgSrc      = (concat ../this/static "/images/ux-library/components.jpg")
            title       = false
            subtitle    = false
            description = (concat pages.0.data.fsdId '<strong class="dev-component">' component '| </strong>')
            cta         = this.pages.0.data.title
            urlLink     = (concat "/components/" component "Sample.html")
            cta2        = false
            urlLink2    = false
            cta3        = false
            urlLink3    = false
            downloadSize = false
            --}}
        </li-->
    {{/each}}
</ul>